@import "tailwindcss";

@theme {
  --color-golden: #D4AF37;
  --color-golden-dark: #B8860B;
  --color-black-gold: #1A1A1A;
  --color-cream: #FDFCF0;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--color-cream);
}
